* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    width:100%;
}

body {
    font-size:100%;
    background-color:white;
    color:black;
    
}

h1 {
   margin: 0px 20px 0px auto;
   display:flex;
   justify-content: center;
   font-family: 'Josefin Sans', sans-serif;
    /*display flex is used here*/
}
.lander-h2 {
    display:flex;
    justify-content: center;
    margin-top:25px;
    /*display flex is also used here */
}
.robot {
     width:400px;
   margin: 0px auto;
    display:flex;
    justify-content: center;  
/*here, setting the margin alone did not center the image. please test to confirm my results*/
}
div#wrapper {
    width:94%;
    margin: 0px auto;
    
}
nav { 
    height:50px;
    line-height:50px;
}
nav li {
    float:left;
    width:50%;
    list-style-type: none;
    text-align: center;
}
nav a {
    display:block;
    text-decoration:none;
    color:#000 !important;
    
}
nav a:hover {
    background:black;
    color:white !important;
}
nav a:visited {
    color: #3498BF;
}
.lander-image {
    width:15%;
    margin: 0px auto;
}
h2 {
   margin-bottom: 20px;
    font-family: 'Josefin Sans', sans-serif;
}
main {
    width: 58%;
    float:left;
}
h3 {
    margin-bottom: 10px;
     font-family: 'Josefin Sans', sans-serif;
}
h4 {
    margin-bottom: 10px;
     font-family: 'Josefin Sans', sans-serif;
}
p {
    font-family: 'Lato', sans-serif;
}
a {
    font-family: 'Lato', sans-serif;
    text-decoration:none;
    color: #000 !important;
    color:inherit;
}
#wrapper a:visited {
    color:black;
    color:inherit;
}
article p {

   margin-bottom:10px;
   margin-top: 5px;
}
.articles p {
    margin-left: auto;
    margin-right: auto;
}
.articles a {
    display:block;
    color:#ebebeb;
}
.articles img {
    display: block;
    width: 25%;
    margin-bottom: 10px;
    display:flex;
    justify-items: center;
}
.row {
    width:27.33%;
    margin-right:4%;
    margin-bottom:4%;
   
    float:left;
    /*I want to use flexbox here but cannot figure it out*/
}
.row img {
    height: 100%;
    border:black solid 2px;
}
aside {
    width: 34%;
    float:left; 
    margin-left:20px;
}
header p {
    margin-bottom: 20px;
}
.self-portrait {
    width:35%;
}
article li {
    font-family: "Lato", sans-serif;
}
footer {
  text-align:center;
    height: 50px;
    clear:both;
    line-height:50px;
}
footer li {
    float:left;
    list-style-type: none;
    color:white;
}
footer a {
    color:white;
    text-decoration:none;
}
.social-media-icons {
    display:inline-block;
    width:40px;
}

/*This is the test section*/


